.background {
    background-image: url(img/SScentre.svg);
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    background-color: black;
}

.navbar-brand {
    color: white;
    font-family: "Poiret One";
    font-style: italic;
    font-weight: bold;
    font-size: 28px;
}


.icon-bar {
    background: white;
}

.navbar-transparent .navbar > li > a:hover, .navbar-transparent .navbar > li > a:focus {
    background-color: black;
    color: blue;
}

.goplay {
    color: #33cc66;
}


@font-face {
    font-family: "Poiret One";
    src: url('font/PoiretOne-Regular.ttf'), url('PoiretOne.eot');
    /* IE */
}

.canvas {
    background-color: black;
    width: 100%;
    height: 100%;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.FlexBox {
    display: flex;
    width: 100%;
    height: 80%;
    justify-content: space-around;
}

.circle-draggable {
    background-image: url(img/whitecircle.png);
    width: 10%;
    height: 10%;
    background-size: contain;
    background-repeat: no-repeat;
    padding: 0.5em;
    float: left;
    margin: 10px 10px 10px 0;
}

.circle-droppable {
    background-color: black;
    border: 1px dotted white;
}

#drop1 {
    width: 1%;
    height: 5%;
    align-self: flex-start;
    float: left;
    flex: 1;
}

#drop2 {
    width: 1%;
    height: 5%;
    float: left;
    flex: 1;
}

#drop3 {
    width: 1%;
    height: 5%;
    float: left;
    flex: 1;
}

.circle-dropped {
    background-color: white;
}