.background {
    background-image: url(img/SScentre.svg);
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    background-color: black;
        
        
}

.navbar-brand {
    color: white;
    font-family: "Poiret One";
    font-style: italic;
    font-weight: bold;
    font-size: 28px;

    

}

@font-face{
    font-family: "Poiret One";
    src: url('font/PoiretOne-Regular.ttf'),
    url('PoiretOne.eot'); /* IE */
}